* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h3 {
   font-weight: 600;
   font-size: 1.5rem;
   margin-bottom: 5px;
}

p {
   font-weight: 300;
}

ul {
   list-style: none;
   color: #636060;
   font-size: 0.9rem;
}

a {
   color: #581d74;
   text-decoration: none;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background: #f4f4f4;
   color: #333;   
}

main {
   padding: 1rem 3rem;
}

main p {
   max-width: 800px;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
}

.underline {
   max-width: 1000px;
   margin: 0 auto;
   border: 1px solid #c0bcbc;
}

/* Profile */
.hero {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
   background: linear-gradient(to right, #581d74, #1b053d);
   color: #fff;
}

.profile {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   max-width: 1300px;
}

.profile div {
   margin: 0 1rem;
}

.profile img {
   width: 170px;
   border-radius: 50%;
}

.profile h1 {
   font-size: 2.4rem;
   font-weight: 600;
}

.profile h2 {
   font-size: 1.5rem;
   font-weight: 500;
}

/* Social */
.social {
   margin: 2rem;
}

.social-icons {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 2rem;
}

.social-icons a {
   display: flex;
   /* margin: 0 0.5rem; */
}

.social-icons a p {
   padding-left: 7px; 
}

.about, .skills, .stack {
   padding: 2rem 1rem;
}

.interest {
   padding: 1rem;
}

.org {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.link {
   text-align: center;
   padding: 1rem;
}

.link a {
   text-decoration: underline;
}

footer {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background: linear-gradient(to right, #581d74, #1b053d);
   color: #fff;
   padding: 1rem;
}

footer img:nth-child(1) {width: 60px;}
footer img:nth-child(2) {width: 150px;}
footer img:nth-child(3) {width: 120px;}


/* Responsiveness */
@media(max-width: 600px) {
   .profile {
      flex-direction: column;
      text-align: center;
   }

   .profile .profile-bio {
      margin: 1.2rem;
   }

   .profile-bio h1 {font-size: 2rem;}
   .profile-bio h2 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
   }

   .social-icons p {
      display: none;
   }

   footer img:nth-child(1) {width: 30px;}
   footer img:nth-child(2) {width: 70px;}
   footer img:nth-child(3) {width: 60px;}
}

